In [88]:
import numpy as np
import pandas as pd
import datetime as dt
import os

Create YOY June 2020 DataFrame (Citi Bike Trips)

In [89]:
yoy_june20_df = pd.DataFrame(columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender'])

In [90]:
for fileName in os.listdir("Resources/yoy_june20"):
    if fileName.endswith(".csv"):
        temp_df=pd.read_csv("Resources/yoy_june20/"+ fileName, sep=",")
        temp_df.columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender']
        
        yoy_june20_df = yoy_june20_df.append(temp_df)

In [93]:
yoy_june20_df["gender"].replace({0: "Unknown", 1: "Male", 2: "Female"}, inplace=True)
yoy_june20_df.head()

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,Male
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,Male
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,Male
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,Female
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,Male

In [94]:
yoy_june20_df.dropna(inplace=True)
print(yoy_june20_df.isnull().values.any())

False

In [95]:
yoy_june20_df

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,Male
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,Male
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,Male
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,Female
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38675,1003,2020-07-31 23:51:37.3790,2020-08-01 00:08:20.6900,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3277,Communipaw & Berry Lane,40.714358,-74.066611,42145,Subscriber,1977,Male
38676,165,2020-07-31 23:56:33.6770,2020-07-31 23:59:18.8610,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,44334,Subscriber,1991,Male
38677,382,2020-07-31 23:56:55.9860,2020-08-01 00:03:18.8390,3209,Brunswick St,40.724176,-74.050656,3275,Columbus Drive,40.718355,-74.038914,42154,Subscriber,1984,Male
38678,674,2020-07-31 23:57:58.0150,2020-08-01 00:09:12.0420,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,45366,Customer,1994,Female
38679,1007,2020-07-31 23:58:06.3070,2020-08-01 00:14:53.3340,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,42139,Subscriber,1982,Male

In [96]:
yoy_june20_df.to_csv('Resources/yoy_june20.csv', index=False)

Create YOY June 2020 DataFrame (Citi Bike Trips)

In [97]:
yoy_june20_df = pd.DataFrame(columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender'])

In [98]:
for fileName in os.listdir("Resources/tripdata_2020"):
    if fileName.endswith(".csv"):
        temp_df=pd.read_csv("Resources/tripdata_2020/"+ fileName, sep=",")
        temp_df.columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender']
        
        ytd_2020_df = ytd_2020_df.append(temp_df)
ytd_2020_df.head()

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [99]:
ytd_2020_df.dropna(inplace=True)
print(ytd_2020_df.isnull().values.any())

False

In [100]:
ytd_2020_df.dtypes

trip duration               object
start time                  object
stop time                   object
start station id            object
start station name          object
start station latitude     float64
start station longitude    float64
end station id              object
end station name            object
end station latitude       float64
end station longitude      float64
bike id                     object
user type                   object
birth year                  object
gender                      object
dtype: object

In [102]:
ytd_2020_df.to_csv('Resources/ytd_2020.csv', index=False)

Create Q1 2020 DataFrame (Citi Bike Trips)

In [71]:
q1_2020_df = pd.DataFrame(columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender'])

In [72]:
for fileName in os.listdir("Resources/tripdata_Q1_2020"):
    if fileName.endswith(".csv"):
        temp_df=pd.read_csv("Resources/tripdata_Q1_2020/"+ fileName, sep=",")
        temp_df.columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender']
        
        q1_2020_df = q1_2020_df.append(temp_df)
q1_2020_df.head()

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [73]:
q1_2020_df.dropna(inplace=True)
print(q1_2020_df.isnull().values.any())

False

In [74]:
q1_2020_df.dtypes

trip duration               object
start time                  object
stop time                   object
start station id            object
start station name          object
start station latitude     float64
start station longitude    float64
end station id              object
end station name            object
end station latitude       float64
end station longitude      float64
bike id                     object
user type                   object
birth year                  object
gender                      object
dtype: object

In [75]:
q1_2020_df.to_csv('Resources/q1_2020.csv', index=False)

Create Q2 2020 DataFrame (Citi Bike Trips)

In [76]:
q2_2020_df = pd.DataFrame(columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender'])

In [77]:
for fileName in os.listdir("Resources/tripdata_Q2_2020"):
    if fileName.endswith(".csv"):
        temp_df=pd.read_csv("Resources/tripdata_Q2_2020/"+ fileName, sep=",")
        temp_df.columns = ['trip duration','start time','stop time','start station id','start station name',
                                         'start station latitude','start station longitude','end station id','end station name',
                                         'end station latitude', 'end station longitude', 'bike id','user type','birth year',
                                         'gender']
        
        q2_2020_df = q2_2020_df.append(temp_df)
q2_2020_df.head()

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [78]:
q2_2020_df["gender"].replace({0: "Unknown", 1: "Male", 2: "Female"}, inplace=True)
q2_2020_df

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,Female
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,Female
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,Male
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,Male
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36916,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,Unknown
36917,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,Unknown
36918,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,Unknown
36919,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,Unknown
36920,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,Female

In [82]:
q2_2020_df.dropna(inplace=True)
print(q2_2020_df.isnull().values.any())

False

In [83]:
q2_2020_df.dtypes

trip duration               object
start time                  object
stop time                   object
start station id            object
start station name          object
start station latitude     float64
start station longitude    float64
end station id              object
end station name            object
end station latitude       float64
end station longitude      float64
bike id                     object
user type                   object
birth year                  object
gender                      object
dtype: object

In [84]:
q2_2020_df.to_csv('Resources/q2_2020.csv', index=False)